header{
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    margin: 0;
    top: 0;
    align-items: center;
    text-align: center;
    justify-content: center;
    z-index: 1000;
}

body{
    margin: 0;
    overflow-x: hidden;
    background-color: white;
}

.navbar-content{
    display: flex;
    margin: 0.6em 0 0.6em 0;
    align-items: center;
}

.navbar-links{
    display: flex;
    gap: 2em;
    padding: 0 5em 0em 8em;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    list-style: none;
}

.navbar-links li{
    cursor: pointer;
}

.navbar-action-buttons button{
    width: 11em;
    height: 3.2em;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    border: none;
}

#action-btn-1{
    background-color: white;
    color: #39724c;
    text-decoration: underline;
}

#action-btn-1:hover{
    background-color: #e6f6f0;
}

#action-btn-2{
    color: white;
    background-color: #39724c;
}

#action-btn-2:hover{
    background-color: #39724ccb;
}

.banner{
    background-color: #c2c6b8;
    width: 100%;
    margin-top: 4.4em;
    display: flex;
    align-items: center;
}

.banner-content{
    width: 50%;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    padding-left: 2em;
    line-height: 1.5em;
    color: #383227;
}

#banner-btn{
    width: 15em;
    height: 3.2em;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: white;
    background-color: #39724c;
    cursor: pointer;
    border: none;
}

#banner-btn:hover{
    background-color: #39724ccb;
}

.banner-img img{
    width: 100%;
    height: 100%;
    padding-left: 4em;
}

.picpay-card{
    background-color: #238662;
    display: flex;
    position: relative;
    margin-left: 10em;
    margin-top: -56px;
    align-items: center;
}

.picpay-card div{
    margin-bottom: 5em;
    margin-top: 5em;
}

.card-img img{
    width: 70%;
    margin-left: 5em;
    margin-top: 10px;
}

.picpay-card-content{
    margin-right: 30em;
    font-family: 'Inter', sans-serif;
    color: white;
}

#picpaycard-title{
    font-size: 2rem;
}

#picpaycard-btn{
    width: 16em;
    height: 3.2em;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border-style:solid;
    border-color: white;
    border-width: 2px;
}

#picpaycard-btn:hover{
    background-color: rgba(255, 255, 255, 0.132);
}

.beneficios{
    margin-top: 10em;
    display: flex;
    width: 100%;
    align-items: center;
}

.beneficios-titles{
    width: 40%;
    font-family: 'Inter', sans-serif;
    padding-left: 2em;
}

#titulo-beneficios{
    font-weight: 700;
    font-size: 2.5rem;
}

#abrir-conta-btn{
    width: 14em;
    height: 3.2em;
    margin-top: 10px;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #39724c;
    background-color: transparent;
    cursor: pointer;
    border-style:solid;
    border-color: #238662;
    border-width: 2px;
}

#abrir-conta-btn:hover{
    background-color: #e6f6f0;
}

.beneficios-content{
    padding-left: 10em;
    width: 50%;
    padding-right: 2em;
}

.beneficio{
    width: 50%;
    font-family: 'Inter', sans-serif;
}

#beneficios-linha1, #beneficios-linha2{
    display: flex;
    gap: 20px;
}

#beneficios-linha2{
    padding-top: 50px;
}

.picpay-emprestimos{
    margin-top: 10em;
    width: 100%;
    display: flex;
}

.emprestimos-content{
    display: flex;
    gap: 7em;
    color: white;
    font-family: 'Inter', sans-serif;
    transform: skewY(4deg);
    padding-left: 2em;
    align-items: center;
}

.emprestimos-content img{
    border-radius: 20px;
    margin-top: -3em;
}

.inclined{
    background-color: rgb(35, 134, 98);
    transform: skewY(-4deg);
    height: 650px;
}

#emprestimo-btn{
    width: 14em;
    height: 3.2em;
    margin-top: 10px;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border-style:solid;
    border-color: white;
    border-width: 2px;
}

#emprestimo-btn:hover{
    background-color: rgb(255, 255, 255, 0.132);
}

.emprestimo-cards{
    display: flex;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 6em;
}

.emprestimo-card{
    background-color: white;
    width: 30%;
    height: 10em;
    border-radius: 20px;
    color: black;
}

.card-content{
    padding: 15px;
}

.rendimento-picpay{
    margin-top: -3em;
    background-color: #252525;
    transform: skewY(-4deg);
}

.rendimento-content{
    padding: 13em 2em 3em 2em;
    transform: skewY(4deg);
    color: white;
    font-family: 'Inter', sans-serif;
}

.rendimento-cards{
    padding-top: 20px;
    gap: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 13em;
}

.rendimento-card{
    width: 33%;
    background-color: #2e2e2e;
    border-radius: 10px;
    padding: 25px;
    font-weight: 700;
}

.rendimento-card-btn{
    width: 100%;
    height: 3.2em;
    margin-top: 10px;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border-style:solid;
    border-color: white;
    border-width: 2px;
}

.rendimento-card-btn:hover{
    background-color: rgb(255, 255, 255, 0.132);
}

.picpay-shop{
    padding: 10em 2em 3em 2em;
    display: flex;
    width: 100%;
    gap: 5em;
    font-family: 'Inter', sans-serif;
}

.picpayshop-content{
    width: 50%;
}

.picpayshop-img{
    width: 40%;
    margin-top: -5em;
    z-index: 1;
}

.picpayshop-img img{
    width: 100%;
}

.picpayshop-btn{
    width: 14em;
    height: 3.2em;
    margin-top: 10px;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #39724c;
    background-color: transparent;
    cursor: pointer;
    border-style:solid;
    border-color: #238662;
    border-width: 2px;
}

.picpayshop-btn:hover{
    background-color: #e6f6f0;
}

.abrir-conta-digital{
    margin-top: -11em;
    z-index: -1;
}

.abrirconta-content {
    position: relative;
    transform: skewY(4deg);
    padding: 18em 0; /* Ajuste o valor do padding conforme necessário */
    text-align: center;
    width: 100%;
    font-family: 'Inter', sans-serif;
    color: white;
    overflow: hidden; /* Para garantir que o pseudo-elemento não ultrapasse os limites da div */
}

.abrirconta-content::before {
    content: "";
    position: absolute;
    top: -20px; /* Ajuste esse valor para alterar a posição vertical do background */
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(https://picpay.com/assets/images/home/bg-circulo.webp);
    background-size: cover;
    background-position: center;
    z-index: -1;
    transform: skewY(-4deg); /* Inverte o skew para que o background fique reto */
}
.abrirconta-btn{
    width: 15em;
    height: 3.2em;
    margin-top: 10px;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border-style:solid;
    border-color: white;
    border-width: 2px;
}

.abrirconta-btn:hover{
    background-color: rgb(255, 255, 255, 0.132);
}