body{
    margin: 0;
    overflow: hidden;
}

.login-container{
    width: 100%;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
}

.login{
    width: 50%;
    padding-left: 10em;
}

.login-btns{
    padding-bottom: 20px;
}

.login-btns-style{
    width: 30em;
    height: 3.2em;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    border: none;
    background-color: white;
}

#entrar-btn{
    color: white;
    background-color: #39724c;
}

#entrar-btn:hover{
    background-color: #39724ccb;
}

#esqueci-minha-senha{
    color: #39724c;
    text-decoration: underline;
}

#esqueci-minha-senha:hover{
    background-color: #e6f6f0;
}

.data-inputs{
    width: 33em;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    border-color: rgba(0, 0, 0, 0.327);
    border-style: solid;
}

.login-img{
    max-width: 50%;
    max-height: 100%;
}

.login-img img{
    width: auto;
    height:auto;
    max-width: 100%;
    min-height: 100vh;
    object-fit: cover;
}

.login-links{
    color:#39724c;
    font-weight: 700;
}